.juegos-recomendados{
    margin-top: 50px;
}

.card{
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
}

.carrusel-peque{
    width: 200px;
    height: 130px;
}

.carrusel{
    display: flex;
    flex-direction: row;
    overflow-x: auto; /*permite que cuando el contenido sea mas grande que el contenedor se scrolee*/
    gap: 14px;
}

.carrusel-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.carrusel::-webkit-scrollbar {
    display: none; /* elimina la barra fea del overflow*/
}
