/* HEADER */
.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 0 20px;
    background-color: #2B2A2F;
}

.navbar-start {
    flex: 1 1 0;
    display: flex;
    align-items: center;
}

.usuario {
    position: relative;
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 95px;
}

.usuario-menu{
    position: fixed;
    top: 80px; 
    right: 0;
    width: 272px;
    min-height: 228px;
    background-color: #2B2A2F;
}

.usuario-menu ul{
    list-style: none;
    padding-inline-start: 0%;
    padding-left: 20px;
}

.usuario-menu li{
    padding: 10px;
    display: flex;
    align-items: center;
}

.usuario-menu img{
    padding-right: 8px;
    width: 20px;
    height: 20px;
}

.usuario-menu h3{
    display: flex;
    justify-content: center;
}
.logo {
    width: 152px;
    height: 40px;
}

.menu-hbg {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-hbg img {
    width: 100%;
    height: 100%;
}

/* BOTONES (reset) */
button {
    border: none;
    outline: none;
    background-color: #2B2A2F;
}

/* BUSCADOR */
.buscador {
    width: 100%;
    max-width: 630px;
    flex-shrink: 0;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #3E3D42;
    border-radius: 8px;
    padding: 8px;
}

.buscador input {
    width: 100%;
    height: 40px;
    padding: 20px;
    border: none;
    outline: none;
    background-color: #3E3D42;
    color: inherit;
    border-radius: 8px;
}

/* Ícono de lupa solo visible en mobile */
.lupa-btn {
    display: none;
}

/* CATEGORÍAS */
.menu {
    background-color: #2B2A2F;
    padding: 20px;
    width: 260px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.item-menu {
    margin: 0;
}

.item-menu a {
    display: flex;
    align-items: center;
    margin: 20px;
    color: inherit;
    text-decoration: none;
}

.item-menu img {
    margin-right: 10px;
}

.menu-oculto {
    display: none;
}

.mostrar {
    display: block;
}




/* MOBILE */
@media (max-width: 600px) {
    .buscador {
        display: none;
    }

    .lupa-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
    }
}