<link rel="stylesheet" href="../css/base.css">
<link rel="stylesheet" href="../css/navbar.css">

<div class="navbar">
    <button><img src="../assets/icons/Menu hamburguesa 1.svg" id="btn-hamburguesa" class="menu-hbg"></button>
    <img src="../assets/icons/Logo.svg" alt="" class="logo">
    <div class="buscador">
        <input type="text" placeholder="Buscar juegos">
        <img src="../assets/icons/Buscar.svg" alt="">
    </div>
    <div class="usuario">
        <img src="../assets/icons/Usuario.svg" alt="">
        <button><img src="../assets/icons/desplazar.svg" alt=""></button>
    </div>
</div>
<div class="menu menu-oculto" id="menu">
    <div class="item-menu">
        <img src="../assets/icons/Accion.svg" alt="">
        <p>
            Acción
        </p>
    </div>
    <div class="item-menu">
        <img src="../assets/icons/Clasicos.svg" alt="">
        <p>
            Clasicos
        </p>
    </div>
    <div class="item-menu">
        <img src="../assets/icons/Juegos de mesa.svg" alt="">
        <p>
            Juegos de mesa
        </p>
    </div>
    <div class="item-menu">
        <img src="../assets/icons/Cartas.svg " alt="">
        <p>
            Cartas
        </p>
    </div>
    <div class="item-menu">
        <img src="../assets/icons/Futbol.svg" alt="">
        <p>
            Futbol
        </p>
    </div>
    <div class="item-menu">
        <img src="../assets/icons/Cocina.svg" alt="">
        <p>
            Cocina
        </p>
    </div>
    <div class="item-menu">
        <img src="../assets/icons/Autos.svg" alt="">
        <p>
            Autos
        </p>
    </div>
    <div class="item-menu">
        <img src="../assets/icons/Motoss.svg" alt="">
        <p>
            Motos
        </p>
    </div>
    <div class="item-menu">
        <img src="../assets/icons/Vestir.svg" alt="">
        <p>
            Vestir
        </p>
    </div>
    <div class="item-menu">
        <img src="../assets/icons/Minecraft.svg" alt="">
        <p>
            Minecraft
        </p>
    </div>
    <div class="item-menu">
        <img src="../assets/icons/Terror.svg" alt="">
        <p>
            Terror
        </p>
    </div>
    <div class="item-menu">
        <img src="../assets/icons/Escape.svg" alt="">
        <p>
            Escape
        </p>
    </div>
    <div class="item-menu">
        <img src="../assets/icons/Divertido.svg" alt="">
        <p>
            Divertidos
        </p>
    </div>
    <div class="item-menu">
        <img src="../assets/icons/Armas.svg" alt="">
        <p>
            Armas
        </p>
    </div>
    <div class="item-menu">
        <img src="../assets/icons/Matematicas.svg" alt="">
        <bopdy>
            Matematicas
        </p>
    </div>
    <div class="item-menu">
        <img src="../assets/icons/Estrategia.svg" alt="">
        <p>
            Estrategia
        </p>
    </div>
    <div class="item-menu">
        <img src="../assets/icons/Pintar.svg" alt="">
        <p>
            Pintar
        </p>
    </div>
    <div class="item-menu">
        <img src="../assets/icons/Puzzle.svg" alt="">
        <p>
            Puzzle
        </p>
    </div>   
</div> 

